
<style media="screen">
.relation_name {
  background: #d68a08;
    height: 2rem;
    top: 0rem;
    right: 15px;
    width: 8rem;
    text-align: center;
    line-height: 2rem;
    font-size: 1rem;
    color: white;
    border: 1px solid #d68a08; 
    position: absolute;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 100%;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);


  .dropdown-menu {
      background: #fff !important;
      border: none;
}
#btn-relation,
#btn-invite{
          display: inline-block;
          vertical-align: top;
          margin:10;
      }
</style>
<style type="text/css">
  #search-btn{
  display: none;
 
}
#search{
   margin:  70px 20px 25px 280px;
   width: 50%;
}
.chat_image{
  height: 36px;
  width: 36px;
  margin-right: 15px;
}
.card-body {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
.card-img-top {
    width: 100%;
    border-top-left-radius: calc(.25rem - 1px);
    border-top-right-radius: calc(.25rem - 1px);
}
</style>
<% if current_user %>
<div class="searchprofile">
  <%= form_tag '#', method: :get do %>
  <%= text_field_tag 'search', params[:search], placeholder: "Search Profile" , :class => "form-control"  %>   
  <%= submit_tag 'Search!',id: "search-btn" %>
<% end %>
<% @profiles.each do | profile| %>
<% if profile.email != current_user.email %>
<div class="profile_container">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <div class="well well-sm">
                <div class="row">
               
                    <div class="col-sm-6 col-md-4">
                          <% if profile.avatar? %>
                             <%= image_tag profile.avatar.url(:thumb), :class => "img-rounded img-responsive" %>
                           <% end %>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <h4>
                        <%= profile.fname  %> </h4>
                        <small><cite title="San Francisco, USA">San Francisco, USA <i class="glyphicon glyphicon-map-marker">
                        </i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i><%= profile.email %>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i><%= profile.dob %></p>
                        <!-- Split button -->
                        <%= link_to "View Profile",view_profile_path(:id=>profile.id),:class => "btn btn-info" %>
                        
                        <%= link_to image_tag('/assets/chat.png',:class => "chat_image"), conversations_path(user_id: profile.regid), remote: true, method: :post %>
                       
                    </div>
                </div>
            </div>
        </div>
</div>
<% end %>
<% end %>
</div>
<div class="clearfix"> </div>

<% else %>
<div class="profile_container">
  <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
          <img src="assets/ftree.png" alt="Smiley face" height="500" width="450">

</div>

<div class="col-xs-12 col-sm-6 col-md-6">
<div class="jumbotron bg-success text-white">
  <h3 class="display-4">Welcome To xipidhi...</h3>
  <hr class="my-4">
  <p>Build your Family tree and Collaborate within your family Circle.</p>
  <p class="lead" style="float:right;">
    <a class="btn btn-success btn-medium" href="#" role="button">About Us</a>
  </p>
</div>
<div class="container-fluid">
<div class="row">
  <center>
<div class="col-sm-6">
<div class="card" style="width: 32rem;">
  <img class="card-img-top" src="assets/image_preview.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>
</div>
</div>
<div class="col-sm-6">
<div class="card" style="width: 32rem;">
  <img class="card-img-top" src="assets/image_preview.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-success">Go somewhere</a>
  </div>
</div>
</div>
<!-- <div class="col-sm-4">
<div class="card" style="width: 25rem;">
  <img class="card-img-top" src="assets/image_preview.png" alt="Card image cap">
  <div class="card-body">
    <h4 class="card-title">Card title</h4>
    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
</div> -->
</center>
</div>
</div>
</div>
</div>
</div>
          <% end %>
<script type="text/javascript">

var searchRequest = null;

$(function () {
    var minlength = 3;

    $("#search").keyup(function () {
        var that = this,
        value = $(this).val();

        if (value.length >= minlength ) {
           // if (searchRequest != null) 
                //searchRequest.abort();
            searchRequest = $.ajax({
                type: "GET",
                url: "/search",
                data: {
                    'search' : value
                },
                dataType: "text",
                success: function(msg){
                    //we need to check if the value is the same
                    if (value==$(that).val()) {
                    //Receiving the result of search here
                    $( "#search-btn" ).trigger( "click" );
                    }
                }
            });
        }
    });
});
</script>
