<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  margin: 10px auto;
  font-family: Raleway;
  padding: 10px;
  width: 100%;
  min-width: 200px;

}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */


button {
  background-color: #5c4ee5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.btn{
    background-color: #5c4ee5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
    float:center
    margin-left: 10px auto;
}
button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */


.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #5c4ee5;
}

.control-label {
  display: block;
}


</style>
<body>
<div class="row">

<%= bootstrap_form_tag url: '/confirm', :html => {
                            :id => 'regForm' } do |f| %>
  <!-- One "tab" for each step in the form: -->
  <div class="col-sm-4">

    <% @user_details = Profile.find_by(userid:current_user.id.to_s) %>
    <%= f.hidden_field :userid, value: current_user.id %>
    <%= f.text_field :fname, label: "First name",
  	           value:@user_details.fname ,
  	           class: 'form-control1' %>
 <%= f.text_field :lname, label: "Last name",
            value: @user_details.lname,
            class: 'form-control1' %>

<%= f.text_field :familyname, label: "Family Name",
            value: @user_details.familyname,
            class: 'form-control1' %>
<%= f.email_field :email, label: "Email id", :disabled => true,
          value: current_user.email ,
          class: 'form-control' %>
<%= f.phone_field :mobile, label: "Mobile number",:disabled => true,
        value:current_user.mobile ,
        class: 'form-control' %>
<%= f.date_field :dob, label: "Date of Birth",
        value: @user_details.dob,
        class: 'form-control' %>


    <%= f.select :gender, [["Male", 1], ["Female", 2],["Transgender", 3]], { class: "selectpicker" } %>

    <%= f.select :bloodgroup, [["O+", 1], ["O-", 1]], { class: "selectpicker" } %>
</div>
<div class="col-sm-4">
<%= f.text_field :nVillage, label: "Native Village",
           value: @user_details.nVillage,
           class: 'form-control' %>

<%= f.text_field :nState, label: "Native State",
        value: @user_details.nState,
        class: 'form-control' %>
        <%= f.text_field :nState, label: "Native Country",
                value: @user_details.nState,
                class: 'form-control' %>

</div>
<div class="col-sm-4">
<%= f.text_field :cVillage, label: "Current Village",
        value: @user_details.cVillage,
        class: 'form-control' %>

    <%= f.text_field :cState, label: "Current State",
            value: @user_details.cState,
            class: 'form-control' %>
  <%= f.text_field :cCountry, label: "Current Country",
                value: @user_details.cCountry,
                class: 'form-control' %>
  </div>
</div>
    <div style="overflow:auto;">
      <div style="float:left;">
        <%= f.submit "Update Details", class:"btn btn-success" %>
      </div>
    </div>







  <!-- Circles which indicates the steps of the form: -->

<% end %>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)
showTab(currentTab); // Display the current tab

$( function() {
    //$( "#datepicker" ).datepicker();
  } );

  function ShowHideDiv1(chkPassport) {
          var dvPassport = document.getElementById("bro-pare");
          dvPassport.style.display = checkBro.checked ? "block" : "none";
      }


    function ShowHideDiv(chkPassport) {
            var dvPassport = document.getElementById("grand-pare");
            dvPassport.style.display = checkGrand.checked ? "block" : "none";
        }


        function ShowHideDiv2(chkPassport) {
                var dvPassport = document.getElementById("kid1");
                dvPassport.style.display = checkGrand.checked ? "block" : "none";
            }

            function ShowHideDiv3(chkPassport) {
                    var dvPassport = document.getElementById("kid2");
                    dvPassport.style.display = checkGrand.checked ? "block" : "none";
                }
                function ShowHideDiv4(chkPassport) {
                        var dvPassport = document.getElementById("sibling2");
                        dvPassport.style.display = checkGrand.checked ? "block" : "none";
                    }

                    $('#terms').change(function() {
                           if ($(this).is(':checked')) {
                              var cvill = $('#nVillage').val();
                              var nTalk = $('#nThaluka').val();
                              var nDist = $('#nDistrict').val();
                              var nState = $('#nState').val();
                               $('#cVillage').val(cvill);
                               $('#cThaluka').val(nTalk);
                               $('#cDistrict').val(nDist);
                               $('#cState').val(nState);
                           }
                       });


function showTab(n) {
  // This function will display the specified tab of the form...
  var x = document.getElementsByClassName("tab");
  x[n].style.display = "block";
  //... and fix the Previous/Next buttons:
  if (n == 0) {
    document.getElementById("prevBtn").style.display = "none";
  } else {
    document.getElementById("prevBtn").style.display = "inline";
  }
  if (n == (x.length - 1)) {
    document.getElementById("nextBtn").innerHTML = "Submit";
  } else {
    document.getElementById("nextBtn").innerHTML = "Next";
  }
  //... and run a function that will display the correct step indicator:
  fixStepIndicator(n)
}

function nextPrev(n) {
  // This function will figure out which tab to display
  var x = document.getElementsByClassName("tab");
  // Exit the function if any field in the current tab is invalid:
  if (n == 1 && !validateForm()) return false;
  // Hide the current tab:
  x[currentTab].style.display = "none";
  // Increase or decrease the current tab by 1:
  currentTab = currentTab + n;
  // if you have reached the end of the form...
  if (currentTab >= x.length) {
    // ... the form gets submitted:
    document.getElementById("regForm").submit();
    return false;
  }
  // Otherwise, display the correct tab:
  showTab(currentTab);
}

function validateForm() {
  // This function deals with validation of the form fields
  var x, y, i, valid = true;
  x = document.getElementsByClassName("tab");
  y = x[currentTab].getElementsByTagName("input");
  // A loop that checks every input field in the current tab:
  for (i = 0; i < y.length; i++) {
    // If a field is empty...
    if (y[i].value == "") {
      // add an "invalid" class to the field:
      y[i].className += " invalid";
      // and set the current valid status to false
      valid = false;
    }
  }
  // If the valid status is true, mark the step as finished and valid:
  if (valid) {
    document.getElementsByClassName("step")[currentTab].className += " finish";
  }
  return valid; // return the valid status
}

function fixStepIndicator(n) {
  // This function removes the "active" class of all steps...
  var i, x = document.getElementsByClassName("step");
  for (i = 0; i < x.length; i++) {
    x[i].className = x[i].className.replace(" active", "");
  }
  //... and adds the "active" class on the current step:
  x[n].className += " active";
}
</script>

</body>
</html>
