<!DOCTYPE html>
<html>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<style>
* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
}

#regForm {
  margin: 10px auto;
  font-family: Raleway;
  padding: 10px;
  width: 100%;
  min-width: 200px;

}

h1 {
  text-align: center;
}

input {
  padding: 10px;
  width: 100%;
  font-size: 17px;
  font-family: Raleway;
  border: 1px solid #aaaaaa;
}

/* Mark input boxes that gets an error on validation: */
input.invalid {
  background-color: #ffdddd;
}

/* Hide all steps by default: */


button {
  background-color: #5c4ee5;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  font-size: 17px;
  font-family: Raleway;
  cursor: pointer;
}

.btn{
    background-color: #5c4ee5;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    font-size: 17px;
    font-family: Raleway;
    cursor: pointer
    float:center
    margin-left: 10px auto;
}
button:hover {
  opacity: 0.8;
}

#prevBtn {
  background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */


.step.active {
  opacity: 1;
}

/* Mark the steps that are finished and valid: */
.step.finish {
  background-color: #5c4ee5;
}

.control-label {
  display: block;
}


</style>
<body>
<div class="row">

<%= bootstrap_form_tag url: '/confirm', :html => {
                            :id => 'regForm' } do |f| %>
  <!-- One "tab" for each step in the form: -->
  <div class="col-sm-4">

    <% @user_details = Profile.find_by(email:current_user.email.to_s) %>
  <div class="input-group">
    <span class="input-group-btn">
      <span class="btn btn-small btn-primary btn-inverse" onclick="$(this).parent().find('input[type=file]').click();">Browse</span>
      <%= f.file_field :avatar, onchange: "$(this).parent().parent().find('.form-control').html($(this).val().split(/[\\\\|/]/).pop());", id: "file", style: "display:none;" %>
    </span>
    <img src="" id="preview"> 
   <td><%= image_tag @user_details.avatar.url(:thumb) %></td> 
  </div>
  
    <%= f.text_field :fname, label: "First name",
  	           value:@user_details.fname ,
  	           class: 'form-control1' %>
 <%= f.text_field :lname, label: "Last name",
            value: @user_details.lname,
            class: 'form-control1' %>

<%= f.text_field :familyname, label: "Family Name",
            value: @user_details.familyname,
            class: 'form-control1' %>
<%= f.email_field :email, label: "Email id", :readonly => true,
          value: @user_details.email ,
          class: 'form-control' %>
<%= f.phone_field :mobile, label: "Mobile number",:readonly => true,
        value:@user_details.mobile ,
        class: 'form-control' %>
<%= f.date_field :dob, label: "Date of Birth",
        value: @user_details.dob,
        class: 'form-control' %>


    <%= f.select :gender, [["Male", 'M'], ["Female", 'F'],["Transgender", 'T']], { class: "selectpicker" } %>

   <%= f.select :bloodgroup, [["O+", "O+"], ["O-", "O-"],["A+","A+"],["A-","A-"],["B+","B+"],["B-","B-"],["AB-","AB-"],["AB+","AB+"]], { class: "selectpicker" } %>

</div>
<div class="col-sm-4">
<%= f.text_field :nVillage, label: "Native Village",
           value: @user_details.nVillage,
           class: 'form-control' %>

<%= f.text_field :nState, label: "Native State",
        value: @user_details.nState,
        class: 'form-control' %>
        <%= f.text_field :nState, label: "Native Country",
                value: @user_details.nState,
                class: 'form-control' %>

</div>
<div class="col-sm-4">
<%= f.text_field :cVillage, label: "Current Village",
        value: @user_details.cVillage,
        class: 'form-control' %>

    <%= f.text_field :cState, label: "Current State",
            value: @user_details.cState,
            class: 'form-control' %>
  <%= f.text_field :cCountry, label: "Current Country",
                value: @user_details.cCountry,
                class: 'form-control' %>
  </div>
</div>
    <div style="overflow:auto;">
      <div style="float:left;">
        <%= f.submit "Update Details", class:"btn btn-success" %>
      </div>
    </div>







  <!-- Circles which indicates the steps of the form: -->

<% end %>

<script>
var currentTab = 0; // Current tab is set to be the first tab (0)

                    $('#terms').change(function() {
                           if ($(this).is(':checked')) {
                              var cvill = $('#nVillage').val();
                              var nTalk = $('#nThaluka').val();
                              var nDist = $('#nDistrict').val();
                              var nState = $('#nState').val();
                               $('#cVillage').val(cvill);
                               $('#cThaluka').val(nTalk);
                               $('#cDistrict').val(nDist);
                               $('#cState').val(nState);
                           }
                       });



function filePreview(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function (e) {
            $('#preview + img').remove();
            $('#preview').after('<img src="'+e.target.result+'" width="150" height="150" style="margin-left:30px;" />');
        };
        reader.readAsDataURL(input.files[0]);
    }
}
$("#file").change(function () {
    filePreview(this);
});
</script>

</body>
</html>
